
body {
    padding: 0;
    margin: 0;
}

.hero {
    background-color: skyblue;
    background-size: cover;
    height: 100vh;
}

.program-section {
    background-color: greenyellow;
    background-size: cover;
    height: 100vh;
}

.impact-section {
    background-color: pink;
    background-size: cover;
    height: 100vh;
}

.action-section {
    background-color: yellow;
    background-size: cover;
    height: 100vh;
}

.title {
    font-family: Roboto, sans-serif;
    color: white;
}

.subtitle {
    font-family: Roboto, sans-serif;
    color: white;
    font-size: medium;
}

.footer {
    background-color: #106544;
    background-size: cover;
    height: 25vh;
}

.icons{
    top:50%;
    right: 0;
    transform: translateY(-50%);
    position: fixed;
    z-index: 100;
}
.icons ul {
    padding: initial;
}

.icons ul li {
    height: 40px;
    width: 40px;
    list-style-type: none;
    padding-left: 12px;
    padding-top: 6px;
    margin-top: 5px;
    color: #fff;
}
/* Carousel CSS */
 
/* Stories.html */

.story-banner {
    background-color: skyblue;
    background-size: cover;
    height: 50vh;
}

.header-line {
   
    background-color: skyblue;
    background-size: cover;
    height: 5vh;
}