/* FONTS */
@font-face {
	font-family: 'Agrandir Regular';
	src: url('/assets/fonts/Agrandir\ Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Agrandir Grand Heavy';
	src: url('/assets/fonts/Agrandir\ Grand\ Heavy.ttf') format('truetype');
}

@font-face {
	font-family: 'Agrandir Text Bold';
	src: url('/assets/fonts/Agrandir\ Text\ Bold.ttf') format('truetype');
}

/* DESKTOP */
/** General **/
#about-us {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/about-us.webp");
	background-position: center;
	background-size: cover;
}

#stories {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/stories.webp");
	background-position: center;
	background-size: cover;
}

#publications {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/publications.webp");
	background-position: center;
	background-size: cover;
}

#partners {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/partners.webp");
	background-position: center;
	background-size: cover;
}

#contact-us {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/contact-us.webp");
	background-position: center;
	background-size: cover;
}

#programs {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/programs.webp");
	background-position: center;
	background-size: cover;
}

body {
	padding: 0;
	margin: 0;
}

.card {
	border: none;
}

.dropdown {
	padding: 5px 10px;
	border-radius: 6px;
	outline-color: #006443;
	border-color: #006443;
	float: left;
	color: #006443;
	font-weight: 450;
	cursor: pointer;
	align-self: left;
}

.header-title-main h3 {
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	color: #006443;
	font-family: 'Roboto';
	font-weight: bold;
}

h3 {
	font-family: 'Agrandir Grand Heavy';
}

h4 {
	font-family: 'Agrandir Regular';
}

.header-title-main p {
	color: #939598;
}

.header {
	background-color: gray;
	background-size: cover;
}

#hero-title {
	text-align: center;
}

input[type=text],
input[type=number],
input[type=email],
input[type=subject] {
	border-radius: 9999px;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=subject]:focus,
textarea.form-control:focus {
	border: 1px solid silver;
	box-shadow: 0 0 0 5px #E6F2B5;
}

.nyli-btn-nav,
.nyli-btn-primary-dark,
.nyli-btn-primary-light {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #A3C53A;
	border: none;
	border-radius: 9999px;
}

.nyli-btn-secondary-dark {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: transparent;
	border: 2px solid white;
	border-radius: 9999px;
}

.nyli-btn-nav>*,
.nyli-btn-primary-light>*,
.nyli-btn-primary-dark>*,
.nyli-btn-secondary-dark>* {
	font-family: 'Agrandir Regular';
	color: white;
	text-decoration: none;
}

.nyli-btn-nav-current {
	background-color: transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid #333434;
	border-radius: 9999px;
}

.nyli-btn-nav-current>* {
	color: #333434;
	font-family: 'Agrandir Regular';
	text-decoration: none;
	padding: 6px 19px;
}

.nyli-btn-nav:hover,
.nyli-btn-primary-light:hover {
	background-color: transparent;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border: 2px solid #333434;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.nyli-btn-nav:hover>*,
.nyli-btn-primary-light:hover>* {
	color: #333434;
}

.nyli-btn-primary-dark:hover {
	background-color: #99b334;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

.nyli-btn-secondary-dark:hover {
	background-color: rgba(255, 255, 255, 0.1);
	border: 2px solid silver;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

p,
span {
	font-family: 'Roboto';
}

#pagination-container {
	display: flex;
	justify-content: center;
}

#pagination-list {
	display: flex;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.pagination-btn {
	display: inline-block;
	border: 1px solid #006443;
	background-color: #006443;
	text-decoration: none;
	color: white;
}

.pagination-btn:hover {
	background-color: white;
	color: #006443;
	border-color: #006443;
}

.pagination-btn.active {
	background-color: white;
	color: #006443;
	border-color: #006443;
}

.program-section {
	background-color: white;
}

.search-field.form-control {
	display: flex;
	align-items: center;
	border: 1px solid silver;
	border-radius: 9999px;
	padding: 0;
}

.search-field.form-control:focus {
	outline: none;
	border: none;
	box-shadow: none;
}

.search-field input {
	border: none;
	outline: none;
	border-radius: 9999px;
	height: 100%;
}

.search-field input:focus {
	border: none;
	outline: none;
	box-shadow: none;
}

.search-field:has(input:focus) {
	outline: none;
	box-shadow: 0 0 0 5px #E6F2B5;
}

.section-header-dark {
	color: white;
	font-family: 'Agrandir Grand Heavy';
	text-transform: uppercase;
}

.section-header-light h2 {
	color: #A3C53A;
	font-family: 'Agrandir Grand Heavy';
	text-transform: uppercase;
}

.section-header-light hr {
	background-color: #006443;
	border: 2px solid #006443;
}

.section-header-light hr,
.section-header-dark hr {
	opacity: 1;
	display: block;
	margin: auto;
	border-radius: 9999px;
}

.section-header-dark hr {
	background-color: #A3C53A;
	border: 2px solid #A3C53A;
}


/** Navbar **/
a.nav-link {
	color: #006442;
	font-family: 'Agrandir Regular';
}

a.nav-link:hover {
	color: #A3C53A;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 175ms;
}

#current-page {
	font-family: 'Agrandir Regular';
	color: #a3c53a;
}

.nav-line {
	width: 100%;
	position: fixed;
	height: 4.5vh;
	top: -9px;
}

nav.navbar {
	width: 100%;
	padding-top: 4.5vh;
}

span.nav-link {
	color: #A3C53A;
	font-family: 'Agrandir Regular';
}

span.nav-link:hover {
	color: #A3C53A;
}

/** Footer **/
div.footer-column {
	padding: 0px;
}

#divider {
	border-top: 2px solid white;
	padding-top: 8px;
}


footer,
.desktop-footer,
.mobile-footer {
	width: 100%;
	background-color: #006442;
	color: white;
}

#footer-column-1 {
	position: relative;
	left: -2rem;
}

.footer-bottom {
	font-size: 12px;
	text-align: center;
	margin-bottom: 2px;
}

.footer-icons a {
	color: white;
	text-decoration: none;
}

.footer-link {
	font-size: 14px;
	font-family: 'Roboto';
	color: white;
	text-decoration: none;
}

.footer-links li {
	list-style-type: none;
	padding-left: 15px;
}

.footer-text {
	font-size: 12px;
	font-family: 'Roboto';
	color: white;
	text-decoration: none;
}

a.footer-bottom {
	font-family: 'Roboto';
	text-decoration: none;
	color: white;
}

.small-dot {
	font-size: 12px;
}

#social-media {
	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 0.75rem;
	font-family: 'Roboto';
}

span.footer-info {
	font-size: 14px;
}

ul.footer-links {
	padding-left: 0;
}

/** Home **/
.action-section {
	background-color: white;
	background-size: cover;
}

div.card-section {
	margin-top: 1.5rem;
	width: 100%;
}

.hero {
	display: flex;
	align-items: center;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('../images/hero.webp');
	color: white;
	background-size: cover;
	background-position: top center;
	font-family: 'Agrandir Regular';
}

.hero h1 {
	font-size: 56px;
}

.icons {
	right: 0;
	transform: translateY(-50%);
	position: absolute;
	z-index: 100;
}

.icons ul {
	padding: initial;
}

.icons ul li {
	list-style-type: none;
	text-align: center;
	color: #a3c53a;
	background-color: #fff;
}

.icons ul li:hover {
	background-color: #a3c53a;
	color: white;
	transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 175ms;
}

.num {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.impact-desc {
	font-family: 'Roboto', sans-serif;
}

.impact-icon {
	color: #006443;
}

.impact-desc {
	text-align: center;
}

.impact-section {
	background-color: white;
	background-size: cover;
}

.pre-content {
	height: inherit;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.program {
	width: 100%;
	height: 342px;
	background-color: #333434;
	border-radius: 10px;
	overflow: hidden;
}

.program-content {
	color: white;
	width: 100%;
	height: 100%;
	font-family: 'Agrandir Regular';
	padding: 1rem;
	border-radius: 10px;
	overflow: hidden;
}

.stat-section {
	margin-top: 4rem;
}

.subtitle {
	font-family: 'Agrandir Regular';
}

.vol-btn {
	display: flex;
}

.volunteer {
	padding: 2rem 0rem;
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url('../images/emp-pr1.webp');
	background-size: cover;
	background-position: center;
}

.volunteer-desc {
	color: #fff;
}

/** About Us **/
.about-dropdown {
	display: none;
}

.mobile-about-content {
	display: none;
}

.section {
	display: none;
}

.section.active {
	display: block;
}

.section-link button {
	border: solid 1px;
	border-radius: 15px;
}

.section-link a,
.section-link button {
	width: 15rem;
	padding: 10px;
}

.section-link,
.section-link button {
	color: #006443;
	/* Default color for inactive links */
	background-color: white;
}

.section-link:not(.active),
.section-link:not(.active) button {
	color: #006443;
	/* Default color for inactive links */
	background-color: white;
}

.section-link.active,
.section-link.active button {
	color: white;
	border-radius: 15px;
	/* Default color for inactive links */
	background-color: #006443;
}

.sidebar a {
	text-decoration: none;
}

.sidebar li {
	margin-bottom: 10px;
}

.sidebar ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	height: 0;
}

.video-container iframe {
	border-radius: 10px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


/** Contact Us **/
.contact-form {
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right bottom;
}

/** Partners **/
.fade-up {
	opacity: 0;
	transform: translateY(50px);
	animation: fadeUp 2s ease forwards;
}

@keyframes fadeUp {
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

/** Stories and Publications **/
.search-form {
	display: inline-flex;
	justify-content: end;
	align-items: center;
	width: 100%;
}

.search-field.form-control {
	width: 100%;
	margin-right: 10px;
}

/** Stories Article **/
.article,
.article-header {
	padding: 2vw 22.5vw;
}

/* Programs */
#ewd {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/educ-pr2.webp");
	background-size: cover;
	background-position: top;
}

#ecs {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/emp-pr2.webp");
	background-size: cover;
	background-position: center;
}

#cce {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/civ-pr3.webp");
	background-size: cover;
	background-position: center;
}

#ac {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)), url("../images/adv-pr2.webp");
	background-size: cover;
	background-position: center;
}

div.carousel {
	height: 300px;
	width: 100%;
	margin-bottom: 4rem;
}

div.carousel-inner {
	display: block;
	margin: auto;
	width: 100%;
	height: 100%;
}

.program:hover .program-content,
.program:focus .program-content {
	transform: scale(1.2);
	transition: transform 0.3s ease-out;
}

.program:hover .pre-content,
.program:focus .pre-content {
	display: none;
}

.program-content .post-content {
	height: inherit;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: scale(0.8);
	transition: none;
}

.project {
	width: 100%;
	height: inherit;
	border: none;
	border-radius: 15px;
}

.project-content {
	display: flex;
	flex-direction: column;
	justify-content: end;
	height: 90%;
	position: absolute;
	padding: 0rem 1.25rem;
	color: white;
	transition: opacity 0.35s ease-out;
	opacity: 0;
}

.project-content p {
	padding: 0;
}

.project-content * {
	opacity: 0;
	transition: opacity 0.35s ease-out;
	color: white;
}

.project-gradient {
	height: 100%;
	position: relative;
}

.project-gradient::before {
	content: '';
	position: absolute;
	height: 0%;
	width: 100%;
	bottom: 0;
	transition: height 0.5s ease-out;
	background: linear-gradient(to bottom, transparent 55%, #333434 100%);
	border-radius: 15px;
}

.project-gradient.show::before {
	height: 100%;
}

.project-gradient.show .project-content {
	opacity: 1;
}

.project-gradient.show .project-content * {
	opacity: 1;
}



.article-title {
	font-family: 'Agrandir Regular';
}

.author {
	font-family: 'Roboto';
}

.tagline {
	font-family: 'Agrandir Regular';
	text-align: center;
}

.drop-cap {
	color: #333434;
	float: left;
}

h5 {
	font-family: 'Agrandir Text Bold';
}

.program-section p,
.impact-section p,
.action-section p {
	text-align: center;
}

.project-content p {
	text-align: start;
}

.tablet-footer {
	width: 100%;
	height: 42.5vh;
	background-color: #006442;
}

nav.desktop-navbar {
	display: none;
}

nav.hamburger-navbar {
	display: block;
}

/* Smartphones */
@media screen and (min-width: 320px) {
	.form-control {
		font-size: 14px;
	}

	#program-general {
		margin-top: 2rem;
		margin-bottom: 2rem;
	}

	.program-title {
		font-size: 18px;
		text-align: center;
	}

	.footer-bottom, .footer-info {
		line-height: 1.5;
	}

	.drop-cap {
		font-weight: bold;
		font-size: 60px;
		line-height: 40px;
		padding-top: 6px;
		padding-right: 7px;
	}

	.article-title {
		margin-top: 1rem;
		font-size: 24px;
	}

	.author {
		margin-top: 0.5rem;
		margin-bottom: 0.5rem;
		font-size: 12px;
	}

	.tagline {
		font-size: 18px;
		margin-bottom: 1rem;
	}

	p {
		font-size: 14px;
	}

	.content-list {
		width: 100%;
		margin-bottom: 1rem;
	}

	#search-button-desktop {
		display: none;
	}

	.dropdown, #search-button-mobile {
		font-size: 14px;
	}

	.search-form {
		margin-bottom: 1rem;
	}

	.dropdown {
		padding: 5px 10px;
		border-radius: 6px;
		outline-color: #006443;
		border-color: #006443;
		width: 50%;
		float: left;
		color: #006443;
		font-weight: 450;
		cursor: pointer;
	}

	p, span {
		line-height: normal;
	}

	span {
		font-size: 14px;
	}

	.subtitle {
		font-size: 14px;
	}

	.hero {
		height: 85vh;
	}

	.header-title-main h3 {
		font-size: 18px;
		margin-bottom: 0.5rem;
		padding-top: 10px;
	}

	.header-title-main p {
		font-size: 12px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-bottom: 10px;
	}

	.icons {
		top: 80%;
	}

	.icons ul li {
		height: 30px;
		width: 30px;
		padding-top: 3px;
		margin-top: 6px;
	}

	.nyli-btn-nav a,
	.nyli-btn-primary-dark a,
	.nyli-btn-primary-light a,
	.nyli-btn-secondary-dark a {
		font-size: 14px;
	}

	.nyli-btn-nav>* {
		padding: 7px 21px;
	}

	.nyli-btn-primary-light>*,
	.nyli-btn-primary-dark>*,
	.nyli-btn-secondary-dark>* {
		padding: 6.5px 13.5px;
	}

	.nyli-btn-nav:hover>* {
		padding: 5px 19px;
	}

	.nyli-btn-primary-light:hover>* {
		padding: 4.5px 12.5px;
	}

	.card-text {
		font-size: 14px;
	}

	.section-header-light hr,
	.section-header-dark hr {
		width: 3rem;
	}

	.section-header-light hr {
		margin-top: 2rem;
		margin-bottom: 1rem;
	}
	
	.section-header-dark hr {
		margin-top: 1.5rem;
	}

	.volunteer-desc {
		margin: auto;
		width: 80%;
	}

	.impact-icon {
		margin-bottom: 0.5rem;
		font-size: 8px;
	}

	.stat-section {
		margin-top: 0;
	}

	.impact-desc {
		margin-top: 0.5rem;
		font-size: 12px;
	}

	.desktop-footer {
		display: none;
	}

	.tablet-footer {
		display: none;
	}

	.mobile-footer {
		display: block;
	}

	.article,
	.article-header {
		padding: 2vw 5vw;
	}

	.footer-info {
		margin: 0;
	}

	.sidebar {
		display: none;
	}

	.search-icon {
		padding: 0 3px 0 12px;
	}

	.search-field input {
		padding: 6px;
	}

	.about-content {
		display: none;
	}

	#hero-title {
		font-size: 40px;
	}

	.content-section {
		display: block;
	}

	#mobile-separator {
		width: 90%;
		margin: auto;
		border: 0.5px solid white;
		opacity: 1;
		margin-bottom: 10px;
	}

	.program h4 {
		font-size: 18px;
	}

	.about-dropdown {
		display: block;
		margin-bottom: 2rem;
	}

	.mobile-about-content .mobile-section {
		display: none;
	}

	.mobile-about-content .mobile-section.active {
		display: block;
	}
	
	#pagination-container {
		margin-top: 30px;
		margin-bottom: 40px;
	}

	.pagination-btn {
		padding: 2px 8px;
		margin: 2px 2px;
		font-size: 14px;
	}
}

/* Tablet */
@media screen and (min-width: 768px) {
	.form-control {
		font-size: 16px;
	}

	.footer-bottom {
		font-size: 11px;
	}

	.desktop-footer {
		display: none;
	}

	.tablet-footer {
		display: block;
	}

	.mobile-footer {
		display: none;
	}

	#pagination-container {
		margin-top: 30px;
		margin-bottom: 40px;
	}

	.pagination-btn {
		padding: 4px 12px;
		margin: 4px 4px;
		font-size: 14px;
	}

	.footer-info {
		line-height: normal;
	}
}

/* Desktop */
@media screen and (min-width: 1024px) {
	.desktop-navbar {
		display: block;
	}

	.responsive-navbar {
		display: none;
	}

	.program-title {
		font-size: 24px;
		text-align: center;
	}

	.volunteer-desc {
		margin: auto;
		width: 90%;
	}

	.article-title {
		margin-top: 1rem;
		font-size: 32px;
	}

	.author {
		margin-top: 1rem;
		margin-bottom: 1rem;
		font-size: 14px;
	}

	#search-button-mobile {
		display: none;
	}

	#search-button-desktop {
		display: inline;
	}

	p, span {
		font-size: 16px;
	}
	.dropdown {
		padding: 5px 10px;
		border-radius: 6px;
		outline-color: #006443;
		border-color: #006443;
		width: 200px;
		float: left;
		color: #006443;
		font-weight: 450;
		cursor: pointer;
	}

	.impact-desc {
		font-size: 14px;
	}

	.subtitle {
		font-size: 18px;
	}

	.hero {
		height: 90vh;
	}

	.icons {
		top: 75%;
	}

	.icons ul li {
		height: 40px;
		width: 40px;
		padding-top: 6px;
		margin-top: 5px;
	}

	.desktop-footer {
		display: block;
	}

	.tablet-footer {
		display: none;
	}

	.mobile-footer {
		display: none;
	}

	.about-content {
		display: block;
	}

	.section-link a,
	.section-link button {
		width: 16vw;
		padding: 10px;
	}

	.content-list {
		width: 100%;
		margin-bottom: 2rem;
	}

	.content-list img {
		width: 100%;
		height: 300px;
		object-fit: cover;
		cursor: pointer;
	}

	.header-title-main h3 {
		font-size: 20px;
		margin-bottom: 0px;
		padding-top: 10px;
	}

	.header-title-main p {
		font-size: 14px;
		margin-top: 0px;
		margin-bottom: 0px;
		padding-bottom: 10px;
	}

	input[type=text],
	input[type=number],
	input[type=email],
	input[type=subject] {
		padding-left: 14px;
	}

	#pagination-container {
		margin-top: 30px;
		margin-bottom: 40px;
	}

	#hero-title {
		font-size: 56px;
	}

	.nyli-btn-nav>* {
		padding: 7px 21px;
	}

	.nyli-btn-primary-light>*,
	.nyli-btn-primary-dark>*,
	.nyli-btn-secondary-dark>* {
		padding: 8px 24px;
	}

	.nyli-btn-nav:hover>* {
		padding: 5px 19px;
	}

	.nyli-btn-primary-light:hover>* {
		padding: 6.2px 22px;
	}

	.pagination-btn {
		padding: 5px 14px;
		margin: 0 3px;
	}

	.program-section {
		margin-bottom: 3rem;
	}

	.publication-content,
	.story-content {
		margin-top: 50px;
	}

	.search-icon {
		padding: 0 3px 0 12px;
	}

	.search-field input {
		padding: 8px;
	}

	.section-header-light h2 {
		margin-top: 2rem;
		margin-bottom: 1.5rem;
	}

	.section-header-light hr,
	.section-header-dark hr {
		width: 4rem;
		height: 0.3rem;
		border-radius: 5px;
		margin-top: 1.5rem;
	}

	.sidebar {
		display: block;
	}

	textarea.form-control {
		border-radius: 15px;
		padding-top: 8px;
		padding-left: 14px;
	}

	.drop-cap {
		font-size: 75px;
		line-height: 60px;
		padding-top: 4px;
		padding-right: 8px;
	}

	.tagline {
		font-size: 24px;
		margin-bottom: 1rem;
	}

	#article-main {
		padding-left: 10rem;
		padding-right: 10rem;
	}
}